*{
    margin: 0;
    padding: 0;
    font-family: "pppins", san-serif;
    box-sizing: border-box;
}

body {
    background: #78c1f3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: #fff ;
    padding: 25px;
    width: 500px;
    border-radius: 10px;
}

.todo-header {
    display: flex;
    justify-content: center;
}